@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  font-family: "Bebas Neue", cursive;
  /* font-family: "Poppins", sans-serif; */
  /* background-image: linear-gradient(
    to left top,
    #77a8a6,
    #5aa9b4,
    #35a9c7,
    #00a7dc,
    #00a2ef,
    #3897e7,
    #508cde,
    #6280d3,
    #6071b3,
    #5b6494,
    #545677,
    #4a4a5b
  ); */
  /* background-color: black; */
}
.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
